---
import Layout from '../layouts/Layout.astro';
import Contato from '../pages/contato.astro'

---

<Layout title="Portifolio Paloma Wink">
	<main class="min-h-screen text-black font-playfair">
		<div class="grid grid-cols-2 mt-10">
      <div class="col-span-1 p-10 text-center flex flex-col justify-center">
        <h3 class="text-2xl text-[#219ebc]">Olá! Meu nome é</h3>
        <h1 class="text-5xl font-bold mt-2">Paloma Wink</h1>
        <h2 class="text-4xl font-semibold text-[#023047] mt-1">
          &lt;&nbsp;
          <span class="text-[#974297]">Desenvolvedora Full Stack</span>
          &frasl;&nbsp;&gt;
        </h2>
        <p class="text-md leading-relaxed">
          Bem-vindo ao meu mundo digital! Sou uma desenvolvedora full stack apaixonada 
          por criar soluções inovadoras e funcionais. Com uma mente curiosa e uma paixão 
          pelo código, estou sempre em busca de desafios empolgantes que me permitam 
          transformar ideias em realidade.
        </p>
      </div>
      <div class="col-span-1 ">
        <img src='/img/ilustracao1.webp' alt="Imagem de uma menina sentada usando notebook" class="w-3/4 h-auto rounded-full" />
      </div>
    </div>
    <Contato/>
	</main>
</Layout>

<style>
	
</style>
