---
import { firstBlock, secondBlock } from '../helpers/tecnologias.ts'
---
<div id="tecnologias" class="h-screen w-screen font-playfair">
  <h1 class="my-4 titles text-center text-4xl mb-4 bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-purple-800">
    &lt;&nbsp;
    Tecnologias
    &frasl;&nbsp;&gt;
  </h1>
  <div>
    {
      firstBlock.map(tecnologia => {
        return (
          <div class="font-playfair border-2 border-tertiary m-3 p-2 rounded-lg shadow-lg">
              <img class="mx-auto mb-4" src={tecnologia.src.src} alt={tecnologia.alt} width={100} height={100}/>
              <p class="text-center font-semibold text-lg">{tecnologia.alt}</p>
          </div>
        )
      })
    }
  </div>
</div>